<!-- views/partials/header.ejs -->
<nav class="nav">
  <div>
    <span class="font-semibold">Express JWT Mongo</span>
  </div>
  <ul>
    <li>
      <a href="/signin" class="btn">Sign In</a>
      <a href="/signup" class="btn">Sign Up</a>
    </li>
  </ul>
</nav>
